* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    margin-top: 47px;
    margin-left: 42px;
}

p {
    width: 493px;
    height: 99px;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4B505A;
    margin-bottom: 30px;
}

h1 {
    width: 582px;
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.6px;
    color: #161A49;
    height: 164px;
    margin-bottom: 60px;
}

section {
    display: inline-block;
    margin-left: 85px;
    width: 493px;
}

.header-links {
    margin-left: 42px;
    color: #17233D;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.88px;
}

.section-links {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
    color: #6FBF44;
    cursor: pointer;
}

.logo-image {
    margin: 146px 0 0 123px;
}

.header-button {
    margin-left: 42px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    background: #6FBF44;
    color: #FFFFFF;
    border: none;
    width: 124px;
    height: 51px;
    border-radius: 6px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    header {
        height: auto;
        width: 100vw;
    }

    .header-links {
        display: none;
    }

    .header-button {
        margin-left: 320px;
    }

    main {
        display: block;
        height: 80%;
        width: 100vw;
        margin-top: 30px;
    }

    section {
        text-align: center;
        margin: 100px 15px 0 15px;
    }
    

    .logo-image {
        width: 312px;
        height: 288px;
        position: absolute;
        top: 50%;
    }

    h1 {
        width: 278px;
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 15px;
        margin-left: 110px;
        margin-bottom: -30px;
    }

    p {
        font-size: 18px;
        line-height: 33px;
        letter-spacing: 0.5px;
        margin-bottom: 15px;
    }

    .section-links {
        font-size: 18px;
    }
}